.clase_f {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 32px;
    padding-bottom: 10px;
    background: rgb(56, 182, 77);
    background: rgba(20, 18, 18, 0.9);
    border-top: 2px solid #e1dce6;
    left: 0px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

h1 {
    font-family: 'Anton', sans-serif;
}

.redes {
    position: fixed;
    top: 200px;
    z-index: 100px;
    left: 0px;
    background-color: blanchedalmond;
    padding: 2px;
    border-radius: 5px;
}